*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: rgb(19, 19, 19);    
}

.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.outer{
    position: relative;
    margin: 0 50px;
    background: linear-gradient(#ffb1e1,#c1fff9,#66c2ff,#ff0155);

}

.button{
    height: 70px;
    width: 220px;
    border-radius: 50px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer; */
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* /* background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer; */
}

.outer button, .outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.outer button{
    background: rgb(17, 17, 17);
    color: azure;
    font-size: 20px;
    font-weight: 200;
    border: none;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button button{
    height: 60px;
    width: 210px;
    border-radius: 50px;
    
}

.circle button{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}