*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: rgb(19, 19, 19);    
}

.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* .outer{
    position: relative;
    margin: 0 50px;
    background: linear-gradient(#ffb1e1,#c1fff9,#66c2ff,#ff0155);

} */

.outer {
    position: relative;
    margin: 0 50px;
    background: linear-gradient(#ffb1e1, #c1fff9, #66c2ff, #ff0155);
    background-size: 400% 100%; /* Create space for four gradient colors */
    animation: gradientAnimation 10s linear infinite; /* Adjust the duration as needed */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}


.button{
    height: 70px;
    width: 220px;
    border-radius: 50px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer; */
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* /* background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer; */
}

.outer button, .outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.outer button{
    background: rgb(17, 17, 17);
    color: azure;
    font-size: 20px;
    z-index: 9;
    font-weight: 200;
    border: none;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button button{
    height: 60px;
    width: 210px;
    border-radius: 50px;
    
}

.circle button{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.outer span{
    height: 100%;
    width: 100%;
    background: inherit;
}
.button span{
    border-radius: 50px;
}
.circle span{
    border-radius: 50%;
}
.outer:hover span:nth-child(1){
    filter: blur(7px);
}
.outer:hover span:nth-child(2){

    filter: blur(14px);
    
}
.outer:hover{
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }    

}