*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: rgb(19, 19, 19);    
}

.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.outer{
    margin: 0 50px;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff0155);

}

.button{
    height: 70px;
    width: 220px;
    border-radius: 50px;  
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer; */
}

.outer .button, .outer span{
    position: absolute;
    top: 50%;
}