

body {
    background: url('https://images.unsplash.com/photo-1629197387757-8b5566910a5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind the content */
    background: inherit; /* Inherit the background image from the body */
    filter: blur(5px); /* Apply the blur effect */
  }


.heading{
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #004488;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.info-text{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #004488;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.app{

    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    justify-content: center;
    padding: 50px;
}

.note{
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
    border-radius: 15px;
    resize: none;
    border: none;
    outline: none;
    padding: 17px;
    font-size: 18px;
    font-family: monospace;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(6px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgba(228, 228, 228, 0.144); 
    height: 200px;
    box-sizing: border-box;
}

.note::placeholder{
    color: #004488;
    font-size: 15px;
    font-family: monospace;
    opacity: 30%;
}

.note:hover,.note:focus{
    background-color: rgba(228, 228, 228, 0.205);
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    transition: all 1500 ease-in-out;
}

.btn{
    height: 200px;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 70px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.267);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover{
    background-color: rgba(228, 228, 228, 0.55);
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    transition: all 1500 ease-in-out;
}

.btn:active{
    transform: translateY(-1px) scale(.95);
}


